<!DOCTYPE html>
<html lang="en">
  <head>
   {{>header}}
  </head>
  <body>
    <!-- nav part -->
    {{>navbar}}
     <!-- Body part -->
    <div class="container-fluid main_header custom-body">
      <div class="row">
        <div class="col-md-10 col-12 mx-auto">

            <div class=" col-md-6 col-12 main_header_right float-left align-items-center">  
                <figure>
                    <img src="images/about1.jpg " alt="Suman Samanta" class="img-fluid about_img" title="Suman Samanta" >
                </figure>
              </div>
          <!-- Left Side Div -->
          <div class=" col-md-6 col-12 main_header_left float-right">  
            <p> welcome to my Profile</p>
            <h1> I , am a <span class="text_clr"> Full Stack Developer</span> </h1>
            <a href="https://www.linkedin.com/in/suman-samanta-58b454227/" target="_suman" ><button>Check My Linked Profile</button></a>
          </div>
          <!-- Right Side div -->
       

        </div>
      </div>
    </div>    
  </body>


  <!-- Footer part -->
  {{>footer}}
</html>